@import "tailwindcss";

:root {
  --background: #f9dadb;
  --foreground: #0f172a;
  --accent: #e74c34;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  @apply antialiased;
}

input, select {
  @apply bg-white/5 border border-slate-300 rounded-lg px-4 py-2 focus:ring-2 focus:ring-accent outline-none transition-all;
}